.picture{
	width: 310px;
	height: 460px;
	margin: 5px 0px 0px 25px;
	border-radius: 10px;
	background-image: url("../../DuoSide/SideCont/second.jpg");
}
@media only screen and (max-width: 400px){
	.picture{
		margin: -100px 0px 0px -105px;
	}
}