@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');.container{

	font-family: 'Sawarabi Mincho', serif;
	width:700px;
	margin:70px 0px 0px 145px;
	font-size: 42px;
	color: white;
	text-align: center;
}
.text{
	position:  relative;
	top: -20px;
	left: 100px;
}