@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
.container{
	display: flex;
	color: white;
	margin:70px 0px 0px 180px;
	text-align: center;;
}
.photo{
width: 200px;
height: 400px;
margin: -60px 0px 0px 30px;
}
.text{
font-size:  20px;
width: 700px;
margin: -60px 0px 0px 30px;
font-family: 'Playfair Display', serif;
}