@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');
.container{
	
	color: white;
	margin:70px 0px 0px 180px;
}
.photo{
margin:-30px 10px 0px 15px;
width: 220px;
height: 330px;
border-radius:  5px;
border: 3px solid dodgerblue;

}
.wrapper{
	float: left;
	margin-right: 15px;
}
.name{
	font-family: 'Supermercado One', cursive;
	position: relative;
	top:  -65px;
	left:  80px;
	font-size: 18px;
	color: white;
	width: 800px;

}
.text{
margin: -80px 0px 0px 45px;
justify-content:  center;
width: 795px;
font-size:  28px;

font-family: 'Playfair Display', serif;
}
.gear{
	width: 400px;
	margin: -100px 0px 0px 955px;
}
@media only screen and (max-width: 400px){
	.container{
		margin:70px 0px 0px 0px;
	}
	.photo{
	 margin: -70px 10px 0px 5px;
     width: 130px;
     height: 200px;
	}
	.name{
		font-size: 11px;
		left:  -10px;
		width: 340px;
	}
	.text{
		margin: -50px 0px 0px 5px;
		font-size: 16px;
		width: 340px;
	}
}