
.red{
	width: 600px;
	height:  550px;
	border-radius: 200px;
	margin: -10px 10px 0px 630px;

}

.mainside{
	display: flex;
}
.unit1{
	width:  1000px;
}
@media screen and (max-width: 400px){
	.red{
		width: 100px;
	height:  300px;
	border-radius: 200px;
	margin: -10px 10px 0px 0px;
	}
}