
.red{
	width: 120px;
	height:  120px;
	border-radius: 200px;
	background-img: url("./keys.png");
	margin: 15px 10px 0px 15px;

}
.cont{
	background-color:  white;
	width: 150px;
	height:150px;
	border-radius: 200px;
	margin: 10px 0px 0px 500px;
}
.mainside{
	display: flex;
}
.unit1{
	width:  1000px;
}
.unit2{
	margin: 3px 0px 0px 45px;
	border-radius: 10px;
	border: 2px solid white;
	background-image: url("../../DuoSide/SideCont/second.jpg");
}
.unit3{
	margin: 0px;
}