div{
	margin-top: 5px;
	text-align: center;
}
.red{
	width: 120px;
	height:  120px;
	border-radius: 200px;
	background-color:  black;
	border: 3px violet solid;
	margin: 0px 0px 0px 500px;

}
.mainside{
	display: flex;
}
.unit1{
	width:  1000px;
}
.unit2{
	margin: -20px 0px 0px 80px;
	border-radius: 10px;
	color: white;
	background-image: url("../../DuoSide/SideCont/second.jpg");
}
.unit3{
	margin: 0px;
}