.can{
	width:800px;
	margin:70px 0px 0px 180px;
	color: white;
	text-align: center;
}
.city{
	position:  relative;
	top: 40px;
	left: 280px;
	font-size: 25px;
}
.label{
	font-size: 34px;
	margin: 0px 0px 0px 100px;
	width: 300px;
	background: dodgerblue;
	border-radius: 5px;
}
.discr{
	font-size: 24px;
	margin: 10px 0px 10px 200px;
	background: black;
	border-radius: 10px;
}
.dicr{
	font-size: 24px;
	margin: 10px 0px 10px 200px;
	background: black;
	border-radius: 10px;
}
.discr:hover{
	font-size: 26px;
	margin: 9px 0px 8px 200px;
}
.dicr:hover{
	font-size: 26px;
	margin: 9px 0px -2px 200px;
}
.element{
	position:  relative;
	width: 350px;
	top: -170px;
	left: 580px;
}