.picture{
	width: 330px;
	height: 460px;
	margin: 5px 0px 0px 16px;
	border-radius: 10px;
	background-image: url("second.jpg");
}
.eye{
	position: relative;
	bottom: 273px;
	left: 87px;
    width: 200px;
	height:200px;
}
.eye:hover{
	bottom: 304px;
	left: 57px;
	width: 260px;
	height: 260px;
}
@media only screen and (max-width: 450px){
	.picture{
		display: none;
	}
	.eye{
		display: none;

	}
}
