.store{
	display:  flex;
	position:  relative;
	left: 100px;
	top:  40px;
	width: 800px;
	height: 200px;
}
.box{
	margin:0px 80px 0px 80px;
	width: 100px;
	height: 100px;
	border-radius: 10px;
	background-color:  cornflowerblue;
}
.target{
	margin:0px 80px 0px 80px;
	height: 100px;
	width: 100px;
}
.sources{
	display: grid;
	margin:0px 80px 0px 80px;
	width: 100px;
	height: 100px;
	cursor:  zoom-in;
}
.stark{
	margin:0px 80px 0px 80px;
	width: 100px;
	height: 100px;
	cursor:  pointer;
}
.a{
	font-size: 18px;
}
.text{
	position:  relative;
	top: 200px;
}