.store{
	display:  flex;
	position:  relative;
	left: 450px;
	top:  40px;
	width: 400px;
	height: 500px;
}
.unit{
	margin: 5px;
	width: 100px;
	height: 100px;
	background-color:  white;
}
.text{
	position:  relative;
	top: 200px;
}