.store{
	display:  flex;
	margin:70px 0px 0px 120px;
}
.target{
	margin:-40px 110px 0px 90px;
	height: 110px;
	width: 110px;
}
.linkcont1{
    margin:5px 80px 0px 55px;
    width: 50px;
    height: 50px;
}
.linkcont2{
    margin:-5px 80px 0px 55px;
    width: 50px;
    height: 50px;
}
.linkher{
	font-size: 42px;
	position: relative;
    color: white;
    text-decoration: none;
    background: dodgerblue;
    border: 2px solid white;
    border-radius: 5px;
    top:  5px;
}
.linkgit{
	font-size: 42px;
	position: relative;
    color: white;
    text-decoration: none;
    background: dodgerblue;
    border-radius: 5px;
    border: 2px solid white;
    top:  15px;
}
.linkgit:hover, .linkher:hover{
	color: black;
	background: white;
}
.texther{
	position:  relative;
	top: 120px;
	left: -44px;
	width: 220px;
	font-size: 23px;
	background-color: white;
	border-radius: 3px;
	text-align:  center;
}
.textgit{
	position:  relative;
	top: 80px;
	left: -44px;
	width: 220px;
	font-size: 24px;
	background-color: white;
	border-radius: 3px;
	text-align:  center;
}
.text{
	position:  relative;
	top: 80px;
	left: -20px;
	width: 180px;
	font-size: 25px;
	background-color: white;
	border-radius: 3px;
	text-align:  center;
}
.stark{
	
	width: 130px;
	height: 130px;
	cursor:  pointer;
}
.stark:hover{
	margin:-5px 0px 0px -5px;
	width: 140px;
	height: 140px;
}
.schema{
	width: 350px;
	height: 220px;
	margin: 185px 0px 0px 1000px;
}
@media only screen and (max-width: 400px){
	.store{
    margin-left: -95px;
}
.target{
	margin:-85px -10px 0px 0px;
	heigth: 150px;
	width: 150px;
}

.linkcont1{
    margin:140px 80px 0px 280px;
    width: 50px;
    height: 50px;
}
.linkcont2{
    margin:-5px 80px 0px 150px;
    width: 50px;
    height: 50px;
}
.text{
	position:  relative;
	top: 120px;
	left: 20px;
	width: 100px;
	font-size: 20px;
	
}
.schema{
	width: 380px;
	height: 230px;
	margin: 210px 0px 0px -15px;
}
}