.body{
	height: 1000px;
	margin: 0;
	background-image: url("tech.jpg");
}
.wrapper{
	
}
.footer, .push {height: 50px;}
@media screen and (max-width: 900px){
	.body{
		width: 1200px;
		height: 1500px;
	}
}
@media screen and (max-width: 400px){
	.body{
		width: 1000px;
		height: 2000px;

	}
}
