.body{
	height: 100%;
	margin: -15px;
	background-image: url("tech.jpg");
}
.wrapper{
	
}
.footer, .push {height: 50px;}

@media only screen and (max-width: 450px){
	.body{
		width: 100%;
		height: 999px;

	}
}
