

.mainside{
	display: flex;
}
.unit1{
	width: 1000px;
}

@media only screen and (max-width: 400px){
 .red{
	width:370px;
	height: 250px;
	margin: 180px 10px 0px -5px;
	}
 .unit1{
	width:  400px;
}
}
