.div{
	display:flex;
	margin: 5px 10px 10px 30px;
	list-style-type: none;

}
.but{
	height: 40px;
	width: 160px;
	border: none;
	border-radius: 10px;
	background-color: black;
	opacity: .8;
	margin: 5px 50px 5px 2px;

}
.bud{
	height: 40px;
	width: 180px;
	border: 1px solid white;
	background-color: steelblue;
	border-radius: 10px;
    margin: 5px 50px 0px 2px;
}
.current{
	font-size: 31px;
	color:  white;
	font-family: Italy, cursive;
	text-decoration: none;
	
}
.murrent{
	font-size: 28px;
	color:  white;
	font-family: Italy;
	text-decoration:  none;

}
.outlet{
	border: black;
	border-radius: 10px;
	background-color:  white;
	width: 1000px;
	height: 500px;
	margin: -10px 0px 0px 30px;
	opacity: .7;
}

