.div{
	display:flex;
	margin-left:10%;
	list-style-type: none;
	background-color:  white;
}
.but{
	width: 200px;
	border: 3px solid black;
}
.current{
	width: 200px;
	color: red;
	font-size: 22px;

}
.murrent{
	font-size: 20px;
	color:  black;
	width:  200px;
	height: 50px;
	text-decoration:  none;
}

