.div{
	display:flex;
	margin: 5px 10px 10px 30px;
	list-style-type: none;

}
.but{
	height: 40px;
	width: 160px;
	border: none;
	border-radius: 10px;
	background-color: black;
	opacity: .8;
	margin: 5px 50px 5px 2px;

}
.bud{
	height: 40px;
	width: 180px;
	border: 1px solid white;
	background-color: steelblue;
	border-radius: 10px;
    margin: 5px 50px 0px 2px;
}
.current{
	font-size: 31px;
	color:  white;
	font-family: Italy, cursive;
	text-decoration: none;
	
}
.murrent{
	font-size: 28px;
	color:  white;
	font-family: Italy;
	text-decoration:  none;

}
.outlet{
	width: 1000px;
	height: 500px;
	position: relative;
	z-index: 2;
}
.layout{
	width: 850px;
	height: 500px;
	opacity: 0.7;
	border-radius: 10px;
	background-color: black;
	position:  relative;
	top: -500px;
	left: 170px;
    z-index:  1;
}

