.contForm{
width: 300px;
margin-left: 5%;
position: relative;
z-index: 2;
}
.input{
width:250px
}
.button{
width: 300px
}
@media only screen and (max-width:450px){
.contForm{

width: 90%;
 }
.input{
width:100%
}
}
