.head{
  display:flex;
  width: 600px;
  height: 120px;
  justify-content: center;
  margin: 0px 0px 0px 0px;
  background-image: url("./mesk.jpg");

  border-radius: 10px;
}

.block{
	margin:10px 150px 0px 0px;
	font-size: 29px;
	display: flex;
	color:white;
}
.double{
	display:  flex;
}
.nohead{
	font-size: 25px;
}
