@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap');
.head{
	font-family: 'Sorts Mill Goudy', serif;
	font-size: 27px;
	display:flex;
  width: 500px;
  height: 90px;
  justify-content: center;
  margin: 0px 0px 0px 105px;
  background-image: url("./mesk.jpg");
  border-radius: 0px;
}
.text{
	margin: 15px 20px 0px -30px;
}

.block{
	margin:5px 210px 0px 0px;
	display: flex;
	color:white;
}
.double{
	display:  flex;
}
.nohead{
	font-size: 25px;
	margin: 0px 0px 0px 0px;
	background-image: url("./net.jpg");
	width:  730px;
	height: 90px;
	border-radius: 0px;
}
@media only screen and (max-width:400px){
.head{
	font-size: 20px;
	margin: 0px 0px 0px 159px;
	width: 240px;
}
.nohead{
	display:  none;
}
}
