.mainCont{
  display: flex;
  justify-content:  center;
}
.welcome{
  font-size: 90px;
  color: white;
  background-color:  black;
  margin: 10px;
}
.contwelc{
  margin:200px 10px 10px 450px;
  width: 500px;
  height: 200px;
}