.nav{
	display:flex;
	margin-left:10%;
}
.but{
	width: 250px;
	height: 40px;
	background-color: orange;
	border: 3px solid white;
}
.link{
	font-size:  22px;
	color:  black;
}
.but:hover{
	height: 45px;
}
