@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap');
.header{
display: flex;
width: 100%;
}
.first{
  display: flex;
  width: 45%;
  margin: 0px 0px 0px 0px;
  color: white;
  background-image: url("./mesk.jpg");
  
}
.text{
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 54px;
  margin: 20px 0px 0px 20px
}
.gear{
  margin: 10px 0px 0px 5px;
  font-size:22px;
}
.second{
  background-image: url("./net.jpg");
  width:55%;
  
}

@media only screen and (max-width: 450px){
  .header{
   background-position: -100px 0px
  }
  .text{
   font-size:44px
  }
}
