@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap');
.double{
	display:  flex;
	width: 100%
}
.head{
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 27px;
  width: 680px;
  height: 90px;
  margin: 0px 0px 0px 0px;
  background-image: url("./mesk.jpg");
}
.text{
	margin: 15px 20px 0px 0px;
}

.block{
	margin:0px 0px 0px 0px;
	display: flex;
	color:white;
}
.nohead{
	font-size: 25px;
	margin: 0px 0px 0px -70px;
	background-image: url("./net.jpg");
	width:  720px;
	height: 90px;
	border-radius: 0px;
}
@media only screen and (max-width:450px){
.double{
 width:100%
}
.nohead{
	display:  none;
}
}
